body {
    margin: 0;
    font-family: Arial;
    direction: rtl;
    background: #111; /* أسود */
    color: white;
}

/* NAVBAR */
header {
    background: #1c1c1c;
    padding: 15px;
    border-bottom: 2px solid red;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav a {
    color: #ddd;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: red;
}

/* CARDS / SLIDER */
.slider-container {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: auto;
}

.slider {
    display: flex;
    transition: 0.5s ease;
}

.car-item {
    min-width: 33.33%;
    padding: 15px;
}

.card {
    background: #222;
    border-radius: 12px;
    padding: 15px;
    transition: 0.3s;
    border: 1px solid #333;
}

.card:hover {
    transform: scale(1.05);
    border: 1px solid red;
}

.card img {
    width: 100%;
    border-radius: 10px;
}


        /* ===== BUTTONS ===== */
        .prev, .next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: black;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
        }

        .prev { left: 10px; }
        .next { right: 10px; }

/* SERVICES */
.service-box {
    background: #1c1c1c;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}